* {
    text-align: center;
}


body {
    background-image: url('../images/camp-cafe-bg-v2.jpg');
    background-repeat: no-repeat;
    background-size: 1440px 1000px;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.site-title h1 {
    font-family: 'Damion', cursive;
    font-size: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}


.camp-header h1 {
    font-family: 'Damion', cursive;
    text-align: left;
    font-size: 40px;
    padding-left: 20px;
}


.search {
    background-color: transparent;
    margin: auto auto;
    width: auto;
}


.search h2 {
    text-align: center;
    font-family: 'Merienda', cursive;
    color: purple;
}


::placeholder {
    font-family: 'Merienda', cursive;
}


input {
    border: white;
    border-radius: 50px;
    height: 30px;
    width: 250px;
    font-size: 15px;    
}


.searchBtn {
    border: none;
    background-color: transparent;
    transition-duration: .4s;
    font-size: 20px;
    color: purple;
    width: 50px;
    height: auto;
}


.loader {
    border: 16px solid blanchedalmond;
    border-top: 16px solid orange;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




.hide {
    display: none;
}


.show {
    display: inline-block;
}


.btn {
    background-color: transparent;
    border-radius: 25px;
    margin-right: 20px;
    font-size: 18px;
    transition-duration: 0.4s;
}


.btn:hover {
    background-color: rgb(254, 170, 25);
    color: white;
    font-style: italic;
}


.row {
    display: flex;
    margin: 40px 10px 20px 10px;
    justify-content: space-around;
}


.containers {
    background-color:white;
    border-radius: 35px;
    width: 90%;
    opacity: .85;
    padding-bottom: 20px;
}


.listing {
    background-color:white;
    border-radius: 35px;
    width: 25%;
    opacity: .85;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid purple;
    margin: auto;
}


.no-underline {
    text-decoration: none;
}


.invalid-data h5 {
    font-style: bold;
    text-align: auto;
}


.map { 
    justify-items: center;
}


h3 {
    font-size: 20px;
    font-style: bold;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}


p {
    text-align: left;
}


.list-group li {
    text-align: left;
    font-size: 15px;
    margin-right: auto;
    font-weight: bold;
}


#resto-list {
    margin-top: 10px;
    margin-left: 20px;
}


a {
    color: purple;
}


span {
    color: green;
    text-align: right;
}


a:hover {
    text-decoration: none;
    color: orange;
}


.icon {
    width: 100px;
    height: 100px;
}


.row {
    text-align: center;
}


#map {
    width: 600px;
    height: 400px;
    margin: 20px 10px 5px 20px;
}


#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    margin-top: 50px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }