* {
    text-align: center;
    justify-content: center;
}

body {
    background-image: url('../images/camp-cafe-bg-v2.jpg');
    background-repeat: no-repeat;
    background-size: 1440px 1000px;
}

header {
    font-family: 'Damion', cursive;
    font-size: 45px;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.search {
    justify-content: center;
    background-color: transparent;
    width: 100%;
}

input {
    border: white;
    border-radius: 50px;
    height: 30px;
    width: 20%;
    font-size: 15px;
    
}

button {
    border: none;
    background-color: transparent;
    transition-duration: .4s;
    font-size: 20px;
    color: purple;
    width: 50px;
    height: auto;
}

.row {
    display: flex;
    line-height: 50%;
    margin: 5px 5px 5px 0;
}

