* {
    text-align: center;
    justify-content: center;
}

body {
    background-image: url('../images/camp-cafe-bg.jpg');
    background-repeat: no-repeat;
    background-size: 1440px 1000px;
}

header {
    font-family: 'Damion', cursive;
    font-size: 45px;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.search {
    justify-content: center;
    /* padding: 25px; */
    background-color: transparent;
    width: 100%;
}

/* .search h1 {
    line-height: 30px;
} */

input {
    border: white;
    border-radius: 50px;
    height: 60px;
    width: 25%;
    font-size: 18px;
    margin-right: 10px;
}

button {
    border: none;
    border-radius: 25px;
    background-color: purple;
    transition-duration: .4s;
    font-size: 20px;
    color: white;
    width: 70px;
    height: auto;
}

.row {
    display: flex;
    line-height: 50%;
    margin: 5px 5px 5px 0;
}

